@model  IEnumerable<GestionDeTiendaParte2.Model.ModeloParaMostrarInventarioDeUnaVenta>

@{
    ViewData["Title"] = "ListarProductosDeVenta";
}

<h1>Carrito de compras:</h1>


<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                Monto descuento
            </th>
            <th>
                Subtotal
            </th>
            <th>
                Monto
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                   @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MontoDescuento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Monto)
                </td>
                <td>
                <td>
                        @Html.DisplayFor(modelItem => item.Subtotal)
                </td>

                </td>
            <td>
              
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="Index" asp-controller="Ventas" class="btn btn-secondary">Volver</a>
